# please rename this to .env
# and enter a correct client id and secret, which you can get there.
#
# https://developer.spotify.com/my-applications/#!/applications
#
# no special redirect_url is needed, but you can add
#
# http://localhost:4000/
#
#
# These valued wont work :-)
CLIENT_ID=12345678901234567890
CLIENT_SECRET=abcdefghijklmnopqrstuvw1234567

